cloud_id                 = "********************"
folder_id                = "********************"
zone                     = "ru-central1-a"
image_id                 = "********************"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"
subnet_id                = "********************"
service_account_key_file = "files/key.json"
service_account_id       = "********************"
app_disk_image           = "********************"
db_disk_image            = "********************"
bucket_name              = "test-aeivanov"
access_key               = "***************************"
secret_key               = "***************************"
env                      = "prod"
